# This is a basic workflow to help you get started with Actions

name: CDE

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          repository: jumbo-hotdog-kaya-mo/cde # Replace with the owner and repository name
          token: ${{ secrets.REPO_CDE_TOKEN }} # Use a Personal Access Token for private repositories

      # Runs a single command using the runners shell
      - name: Install necessary packages
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake libtool git build-essential g++ lib{xt,xmu,xft,xinerama,xpm,pam,motif,ssl,xaw7,x11,xss,tirpc,jpeg,freetype6,utempter,xrender}-dev tcl-dev ksh m4 ncompress xfonts-{100,75}dpi{,-transcoded} rpcbind bison patch xbitmaps x11proto-fonts-dev flex opensp x11-xserver-utils liblmdb-dev

      # Runs a set of commands using the runners shell
      - name: Run autogen.sh
        run: ./autogen.sh

      - name: Run configure
        run: ./configure

      - name: Make
        run: make
        
      - name: Install
        run: sudo make install

      - name: Create artifact
        uses: actions/upload-artifact@v4
        with:
          name: dt-output
          path: |
            /etc/dt
            /usr/dt
